.dark .btn.btn-outline-info {
  border: 2px solid rgba(0, 0, 0, 0.2) !important;
  color: #4E3583 !important;
  background-color: #553c8b;
}
.dark .btn.btn-outline-info:hover, .dark .btn.btn-outline-info:focus {
color: #553c8b !important;
border-color: #553c8b !important;
}
.btn.btn-outline-info {
  background-color: transparent !important
}
.btn.btn-outline-info a {
  color: #9ea9f0 ;
}
a:focus {
  color: #553c8b ;
}
.navbar { 
  background-color: #f1f1f1;
}