.RangeContainer { 
    position: relative;
}
.RangeContainer label { 
    font-size: 1.2rem !important;
}

.range{
    width:70%;
    border-color: blue;
    margin: auto
}
.min{
    position: absolute;
    left: -25%;
    top: 15%;
    margin:auto 0px auto 10px;
}
.max{
    position: absolute;
    right: -25%;
    top: 15%;
    margin: auto 10px auto 0px
}